
{% extends "base.html" %}

{% block title %}Tasks{% endblock title %}

{% block body %}


<div class="container">
  <a href="create/" class="btn btn-success" name="finish">Create Task</a>
  <table class="table mt-2">
    <thead>
      <tr>
        <th scope="col">S.N.</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Status</th>
        <th scope="col">Task Action</th>
        <th scope="col">Other Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for task in tasks %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{task.Name}}</td>
        <td>{{task.Description}}</td>
        <td>
          {% if task.Status %}
            <span class = 'text-success'>Task Completed</span>

            {% else %}
            <span class = 'text-danger'>Task Incomplete</span>
            {% endif %}
          </td>
          <td>
            <a href="{{task.pk}}/" class="btn btn-success" name="finish">Finish</a>
          </td>
          <td>
            <a href="{{task.pk}}/edit/" class="btn btn-primary" name="edit">Edit</a>
            <a href="{{task.pk}}/delete/" class="btn btn-danger" name="delete">Delete</a>

          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
  
  
{% endblock body %}